@using Litium.Resources
@using Site.Infrastuctures.ModelHelpers
@using Site.Infrastuctures.ModelHelpers.Campaign;
@using Web.Site
@model Litium.Domain.Entities.ProductCatalog.Campaign

<div id="load-campaigns">
    <h4>@StoreResourceStrings.UpdateCampaign</h4>
    <fieldset class="product-edit-arrea">
        <legend>@WebStroreResource.SetImageForCategory</legend>
        @Html.Hidden("entity-type", EntityType.Campaign)
		@Html.HiddenFor( x=> x.HasImage)
        @Html.Partial("Partial/ImageUpload")
    </fieldset>

    @using (Html.BeginForm("SaveUpdateCampaign", "Campaign", new { campaignId = Model.Id }, FormMethod.Post))
    {
        Html.Validate("Campaign");
        @Html.HiddenFor(x => x.Id)
        <fieldset class="product-edit-arrea">
            <legend>@WebStroreResource.CampaignDescription</legend>
            <div class="grid_6">
                <div>
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { style = "width:100%" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div>
                    @Html.LabelFor(x => x.Description)
                    @Html.TextAreaFor(x => x.Description, new { style = "width:100%" })
                </div>
                <div style="margin-top: 5px;">
                    <div class="grid_3 alpha">
                        @Html.LabelFor(x => x.StartDate)
                        @Html.EditorFor(x => x.StartDate, "Date")
                        @Html.ValidationMessageFor(x => x.StartDate)
                    </div>
                    <div class="grid_3 omega">
                        @Html.LabelFor(x => x.EndDate)
                        @Html.EditorFor(x => x.EndDate, "Date")
                        @Html.ValidationMessageFor(x => x.EndDate)
                    </div>
                </div>
                <div style="margin-top: 5px;">
                    @Html.LabelFor(x => x.Active)
                    @Html.CheckBoxFor(x => x.Active)
                </div>
            </div>
        </fieldset>

      <div id="campaign-partial-view">
        @{ Html.RenderAction("LoadCampaignForUpdate", "Campaign", new { campaignType = (CampaignType)Model.Metadata.CampaignType });  }
      </div>
        <strong>
            @Html.ActionLinkSubmit(WebStroreResource.SaveCampaign, null, new Dictionary<string, object> { { "class", "t-button" } })
        </strong>
    }
</div>

