@using Litium.Resources
@model Site.Infrastuctures.ModelHelpers.User.UserChangePasswordModel
@{ Layout = "~/Views/Shared/_PublicMain.cshtml"; }
<h4>@WebStroreResource.ChangePassword</h4>
<div class="grid_3 alpha">
	<div class="textalignright bold">
		<a href="/Authorization/UserProfile">@WebStroreResource.GoBack</a>
	</div>
	@using (Html.BeginForm("SaveUpdatePassword", "Authorization"))
 {
		<div class="textaligncenter">@Html.ValidationSummary(true)</div>
		@Html.HiddenFor(m => m.Id)
		<fieldset class="form">
			<div>@Html.LabelFor(m => m.OldPassword)</div>
			<div>@Html.PasswordFor(m => m.OldPassword)
				<div>@Html.ValidationMessageFor(m => m.OldPassword)</div>
			</div>
			<div>@Html.LabelFor(m => m.Password)</div>
			<div>@Html.PasswordFor(m => m.Password)
				<div>@Html.ValidationMessageFor(m => m.Password)</div>
			</div>
			<div>@Html.LabelFor(m => m.ConfirmPassword)</div>
			<div>@Html.PasswordFor(m => m.ConfirmPassword)
				<div>@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
			</div>
			<div class="textalignright">
				<input type="submit" value="@WebStroreResource.ChangePassword" class="button" />
			</div>
		</fieldset>
 }
</div>
<div class="clear">
</div>
